.Header {
    background: linear-gradient(to bottom, #192133, #111826);
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-between;
    align-items: center
}

.Header-Left p {
    padding: 5px;
    padding-inline: 10px;
    font-size: 12px;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    background-color: #1f80e0;
}

.Header-Left span {
    margin-inline: 15px;
    font-size: 14px;
    font-weight: bold;
}